.cover__link {
  max-width: 1184px;
  min-height: 740px;

  /* в колонку и по центру */
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-decoration: none;

  background-image: url(../../../images/__background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* для абсолютного позиционирования псевдоэлементов */
  position: relative;
  z-index: 0;
}

.cover__link:before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.5s;

  z-index: -1;
}

.cover__link:hover:before {
  opacity: 0.8;
}

/* не шире, чем 1280 */
@media screen and (max-width: 1280px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }
}

/* не шире, чем 1024 */
@media screen and (max-width: 1024px) {
  .cover__link {
    max-width: 768px;
    min-height: 480px;
  }
}

/* не шире, чем 768 */
@media screen and (max-width: 768px) {
  .cover__link {
    max-width: 320px;
    min-height: 200px;
  }
}
