@media screen and (min-width: 1280px) {
  /* для мониторов минимум 1280px шириной */

  .lead {
    width: 984px;
    height: 1005px;

    display: flex;
    flex-direction: column;
    margin: 56px auto 0;

    align-items: center;
  }
}
