.header__logo {
  width: 176px;
  height: 52px;
  display: block;
}

/* максимально до 768px */
@media screen and (max-width: 768px) {
  .header__logo {
    /* размеры уменьшаем */
    width: 142px;
    height: 42px;
  }
}
