.header {
  /* для создания резинового эффекта: по 48px с каждой стороны*/
  max-width: 1184px;
  min-width: 288px;
  margin: 0 auto; /* говорим: по центру */
  padding: 28px 48px 0;
  display: flex;
  justify-content: space-between;
}

/* не шире, чем 1024 */
@media screen and (max-width: 1024px) {
  .header {
    /* по 24px теперь с каждой стороны */
    padding: 28px 24px 0;
  }
}

/* не шире, чем 768px */
@media screen and (max-width: 768px) {
  .header {
    /* отступы переделывам обеспечиваем */
    padding: 16px 16px 0;
  }
}
