.header {
  /* для создания резинового эффекта: по 48px с каждой стороны*/
  max-width: 1184px;
  min-width: 288px;
  margin: 0 auto; /* говорим: по центру */
  padding: 28px 48px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    /* по 24px теперь с каждой стороны */
    max-width: 928px;
    box-sizing: content-box;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    /* по 24px теперь с каждой стороны */
    padding: 28px 24px 0;
    max-width: 720px;
    box-sizing: content-box;
  }
}

@media screen and (max-width: 767px) {
  .header {
    /* отступы переделывам обеспечиваем */
    padding: 16px 16px 0;
  }
}
