.footer__link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin-right: 18px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  /* для CSS3-перехода */
  opacity: 0.8;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.footer__link:hover {
  opacity: 0.65;
}
