.lead__title {
  width: 720px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

/* не шире, чем 767px */
@media screen and (max-width: 767px) {
  .lead__title {
    /* достаточно адаптивного поведения - переключения на точках */
    width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
