.lead__title {
  width: 720px;

  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* or 104% */

  text-align: center;

  color: #ffffff;

  margin: 0;
}

/* не шире, чем 768px */
@media screen and (max-width: 768px) {
  .lead__title {
    /* достаточно адаптивного поведения - переключения на точках */
    width: 288px;

    font-size: 40px;
    line-height: 44px;
  }
}
