.place__paragraph {
  /* чтобы мог сужаться */
  max-width: 484px;
  min-width: 288px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */

  color: #ffffff;
  margin: 0 0 26px;
}

/* не шире, чем 1024 */
@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: 16px;
    padding-left: 16px;
    box-sizing: border-box;
    max-width: 352px;
  }
}

/* не шире, чем 768 */
@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    padding-left: 16px;
    max-width: 288px;
    box-sizing: border-box;
  }
}
