.place__paragraph {
  /* чтобы мог сужаться */
  max-width: 484px;
  min-width: 288px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  margin: 0 0 26px;
  padding: 0;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__paragraph {
    font-size: 18px;
    box-sizing: border-box;
    max-width: 456px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    box-sizing: border-box;
    max-width: 352px;
    line-height: 26px;
    margin: 0 0 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
