.footer__items-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  /* убираем пробелы между inline элементами */
  display: flex;
}

/* не шире, чем 768 */
@media screen and (max-width: 768px) {
  .footer__items-list {
    max-width: 186px;
    flex-direction: column;
  }
}
