.intro__text {
  max-width: 690px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin: 40px 0 33px;
}

/* не шире, чем 768px */
@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}

/* не шире, чем 320px */
@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
    margin: 40px 0 34px;
  }
}
