.intro {
  max-width: 984px;
  min-width: 320px;

  display: flex;
  flex-direction: column;

  align-items: start;

  margin: 114px auto 92px;
}

/* не шире, чем 768px */
@media screen and (max-width: 768px) {
  .intro {
    /* отступы переделывам обеспечиваем */
    margin: 110px auto 88px;
  }
}

/* не шире, чем 320px */
@media screen and (max-width: 320px) {
  .intro {
    /* отступы переделывам обеспечиваем */
    margin: 86px auto 64px;
  }
}
