.intro {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 92px auto 92px;
}

/* не шире, чем 1280px */
@media screen and (max-width: 1280px) {
  .intro {
    /* отступы переделывам обеспечиваем */
    margin: 88px auto 88px;
    max-width: 928px;
  }
}

/* не шире, чем 1024px */
@media screen and (max-width: 1024px) {
  .intro {
    /* отступы переделывам обеспечиваем */
    margin: 88px auto 88px;
    max-width: 768px;
  }
}

/* не шире, чем 768px */
@media screen and (max-width: 768px) {
  .intro {
    /* отступы переделывам обеспечиваем */
    margin: 64px auto 64px;
    max-width: 288px;
  }
}
